@page "/server"
@using Sparta.BlazorUI.Authorization
@using Sparta.BlazorUI.Data.ServerData
@using Sparta.BlazorUI.Permissions

@inject ServerService ServerService
@inject IStringLocalizer<Servers> Localizer
@inject IJSRuntime Js
@attribute [HasPermission(Permissions.Servers.View)]

<PageTitle>@Localizer["Server"]</PageTitle>

<h3>@Localizer["Server"]</h3>



@code {

}